---
import Layout from '../layouts/Layout.astro';
import LoadingIntro from '../components/LoadingIntro.astro';
import FixedBackground from '../components/FixedBackground.astro';
import SmoothScroll from '../components/SmoothScroll.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Bio from '../components/Bio.astro';
import Mediums from '../components/Mediums.astro';
import Gallery from '../components/Gallery.astro';
import ArtLightbox from '../components/ArtLightbox.astro';
import MethodLightbox from '../components/MethodLightbox.astro';
import Commission from '../components/Commission.astro';
import Workshops from '../components/Workshops.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <FixedBackground />
  <LoadingIntro />
  <Nav />
  <main>
    <SmoothScroll />
    <Hero />
    <div class="content-veil">
      <Bio />
      <Gallery />
      <Mediums />
      <Commission />
      <Workshops />
      <GetInTouch />
      <Footer />
    </div>
  </main>
  <ArtLightbox />
  <MethodLightbox />
</Layout>
